extends layout

block content 
        .panel.panel-default
            .panel-heading Alerts Management
            .panel-body    
                form(action='/order_mgmt/web', method='post')
                    fieldset
                        .form-group.row
                            .col-xs-6    
                                input.form-control(type='number', name='agentId', placeholder='agent id') 
                            .col-xs-6  
                                input.form-control(type="number" name='orderId', placeholder='alert id') 
                        .form-group.row
                            .col-xs-12 
                                input.form-control(type="text" name='orderSummary', placeholder='enter alert details') 
                        .form-group.row
                           .col-sm-2
                                button.btn.btn-primary(type='submit') create new
        .panel.panel-default
            .panel-heading Alerts
            .panel-body
                   form(action='/order_mgmt/ack', method='post')
                        table.table.table-hover.table-bordered
                            thead.thead-inverse
                                tr
                                    th Agent Id                        
                                    th Order Id 
                                    th Order Summary
                                    th Incoming Timestamp
                                    th Complete
                            tbody
                                    each order in orders
                                        tr
                                            td.vertical-center= order.agentId 
                                            td.vertical-center= order.orderId 
                                            td.vertical-center= order.orderSummary
                                            td.vertical-center= order.timeStamp  
                                            td.vertical-center
                                                .checkbox
                                                    label.vertical-center
                                                    input(type='checkbox', name=order.orderId value="yes")
                        button.btn.btn-primary(type='submit') submit
                
 
  
        
